html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,li{
    list-style: none;
}
/*****GENERALES********************************************************/
*{
    box-sizing: border-box;
}
  
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    width: 100%;
    background-color: #FFF;
}
a{
    text-decoration: none;
    color: #FFF;
}

h1{
    color: #FFF;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.8em;
    background-color:#BC1823;
    width: fit-content;
    padding: 1.5%;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2%;

}
.boton{
    line-height: 40px;
    width: fit-content;
    font-weight: bold;
    font-size: 1.6em;
    background-color: #BC1823;
    color: #FFF; 
    padding: 15px 30px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -o-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
}
/*SECCION CABEZA********************************************/
.cabeza{
    position: relative;
    width: 100%;
    height: 100px;
}

.cabeza .logo{
    width: 370px; 
    margin: 10px 40px;
    float: left;
}
.cabeza #telefono{
    /*left: 70%;*/
    top: 0px;
    height: 130px;
    color: #FFF;
    background-color: #000;
    border-radius: 10% / 60%;
    position: relative;
    float: right;
    margin-right: 40px;
    width: 30%;
    padding: 20px 40px 0 40px;
    text-align: center;
}
.cabeza span{
    font-family: 'Abril Fatface', cursive;
    font-size: 26px;
    line-height: 30px;
}
/*SECCION MENU*/
.menu{
    position: absolute;
    width: 100%;
    background-color: #BC1823;
    font-weight: bold;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 5px 20px;
} 
.menu li:nth-child(3){
    font-size: 1.3em;
}

/* Seccion Slider ***********************************************/

.slider{
    background-image: url(../img/hotdogprincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

.slider h1{
    color: #000;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    font-size: 44px;
    padding: 2% 7%;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.45);
    display: inline-block;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -o-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
    margin: 100px 60px;
}
.slider .botones{
    margin-top: 100px;
    width: 100%;
    bottom: 0px;
}
.slider .boton {
    display: inline-block;
    margin: 30px;
}
  
.slider2{
    background-image: url(../img/hotdognosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.slider2 h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    font-size: 44px;
    padding: 2% 7%;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    margin: 150px 60px;
}
/* SECCION UNO **************************************/
  
.seccionUno{
    width: 100%;
    height: 550px;
    text-align: center;
   /* position: relative;*/
}
.seccionUno h2{
    margin-bottom: 9%;
}
.seccionUno .columnaUno{
    width: 33.3%;
    height: 400px;
    float: left;
    padding: 5%;
    background-image: url(../img/hotdogizq.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 33.3%;
}
.seccionUno h1{
   /* position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.seccionUno .columnaDos{
    width: 33.3%;
    height: 400px;
    float: left;
    color: #000;
    padding: 5%;
}
.seccionUno .columnaDos .boton{ 
    display: inline-block;
    margin-top: 100px;
    margin: 30px;
}

.seccionUno .columnaTres{
    width: 33.3%;
    height: 400px;
    float: left;
    padding: 5%;
    background-image: url(../img/hotdogder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.linea{
    border-bottom: 3px solid #000;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
/*SECCION DOS**************************************************/
.seccionDos{
    width: 100%;
    text-align: center;
}
.seccionDos h1{
    margin-left: 3%;
    margin-top: 20px;
}
.seccionDos .foto{
    width: 300px; 
    height: 300px;
    margin: 10px;
}
/***SECCION TRES***********************************/
.seccionTres{
    width: 100%;
    text-align: center;
    /*position: relative;*/
}
.seccionTres h1{
    /*position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    margin-top: 20px;
    margin-bottom: 20px;
}
.seccionTres .columna{
    width: 100%;
    height: 500px;
    padding: 20px;
}
.seccionTres .columna p{
    padding: 0 80px;
}
.seccionTres .columna .linea{
    width: 30%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.seccionTres ul {
    margin: 20px;
}
.seccionTres ul li {
    display: inline;
    padding: 20px; 
}
.facebook{
    content: '';
    display: inline-block;
    height: 3.5em;
    width:3.5em;
    background-image: url(../img/facebook.png);
    background-size:contain; 	
    background-repeat:no-repeat;
}
.twitter{
    content: '';
    display: inline-block;
    height: 3.5em;
    width:3.5em;
    background-image: url(../img/twitter.png);
    background-size:contain; 	
    background-repeat:no-repeat;
}
.instagram{
    content: '';
    display: inline-block;
    height: 3.5em;
    width:3.5em;
    background-image: url(../img/instagram.png);
    background-size:contain; 	
    background-repeat:no-repeat;
}
.whatsapp{
    content: '';
    display: inline-block;
    height: 3.5em;
    width:3.5em;
    background-image: url(../img/whatsapp.png);
    background-size:contain; 	
    background-repeat:no-repeat;
}
.correo{
    content: '';
    display: inline;
    height: 3.8em;
    width:3.8em;
    position: absolute;
    background-image: url(../img/correo.png);
    background-size:contain; 	
    background-repeat:no-repeat;
}
/*SECCION GALERIA *****************************************/
.seccionCuatro{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.seccionCuatro h1{
    margin-top: 80px;
    margin-left: 40px;
}
.seccionCuatro .foto{
    width: 300px; 
    height: 250px;
    margin: 10px;
}
.seccionCuatro .columnaUno{
    width: 50%;
    float: left;
    padding: 5% 2% 5% 5%;
}
.seccionCuatro .columnaDos{
    width: 50%;
    float: left;
    padding: 1.2%;
}
.seccionCuatro .columnaDos .foto{
    width: 340px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.seccionCuatro .imagen{
    width: 370px;
    height: 370px; 
}
.seccionCuatro .imagen2{
    width: 400px;
    height: 250px; 
}
/*SECCION CINCO*******************************************/
.seccionCinco{
    width: 100%;
    text-align: center;
}
.seccionCinco h1{
    margin-top: 80px;
    margin-left: 40px;
}
.seccionCinco col1{
    width: 33.3%;
    text-align: center;
}
.seccionCinco col2{
    width: 33.3%;
    text-align: center;
}
.seccionCinco col3{
    width: 33.3%;
    text-align: center;
}

/*CLIENTES SATISFECHOS ******************/
.seccionClientes{
    width: 100%;
    text-align: center;
    background-color: #BC1823;
    background-image: url(../img/fondoClientes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
}
.seccionClientes h1{
    background-color: rgba(255, 255, 255, 0);
}
.perfilCliente{
    width: 33.3%;
    float: left;
    color: #FFF;
}
.seccionClientes .rating{
    width: 100px;
    height: 20px;
    margin: 20px;
}
.seccionClientes .foto{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
}
.seccionClientes h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2%;
    margin-top: 3%;
  }
  
.seccionClientes p{
    width: 60%;
    font-size: 12px;
    margin: 0 auto;
   margin-bottom: 5%;
}
/*SECCION MENU ***************************/
.seccionMenu{
    width: 100%;
}
.seccionMenu h1{
    margin-top: 30px;
    margin-left: 60px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0);
}
.seccionMenu h1 span{
    background-color:  #BC1823;
    width: fit-content;
    padding: 1.5%;
    display: block;
}
.seccionMenu .logoMenu{
    display: block;
    width: 200px;
    height: auto;
}
/*pedidos***********************************************************************/
.product{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product h1{
    color: #282120;
    background-color:#f5e0ca00;
}
.product-img{
    width: 40%;
    height: 200px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -o-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
    background: #fff;
    position: relative;
    opacity: 0;
    transform: translateY(-50px);
    animation: fade-in 1s forwards 1;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    
}
.tag{
    position: absolute;
    top: 20px;
    left: -10px;
    transform-origin: left;
    opacity: 0;
    transform: rotate(-90deg);
    text-transform: capitalize;
    color: #eae3d2;
    padding: 5px 10px;
    width: 100px;
    font-size: 18px;
    text-align: center;
    background: #BC1823;
    user-select: none;
    animation: tag .5s 1s forwards 1;
}

@keyframes tag{
    100%{
        opacity: 1;
        transform: rotate(-20deg);
    }
}

.product-listing{
    width: 60%;
    height: 200px;
    height: auto;
    background: #f5caca;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #545454;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in 1s forwards 1;
}

@keyframes fade-in{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.name{
    font-family: 'dosis';
    font-size: 1.5em;
    text-transform: capitalize;
}

.info{
    font-size: 0.8em;
    line-height: 15px;
    margin: 10px 0;
}

.price{
    font-size: 2em;
    font-weight: 100;
    color: #282120;
}
.btn{
    background: #bc182384;
    color: #ffffff;
    border: none;
    text-transform: capitalize;
    font-size: 0.7em;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    margin: 10px;
}

.btn:hover{
    background-color: #BC1823;
    transform: scale(1.1);
}
.contenedor{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: row;
}
.contenedor .product .product-listing{
    width: 95%;
    flex-wrap: wrap;
}
.contenedor .product .product-img{
    width: 85%;
    height: 150px;
}
.contenedor .price{
    font-size: 1.5em;
}
/**footer **********************************************************************/
footer{
    height: 100px;
    padding: 5%;
    font-size: 0.8em;
    background-color: #BC1823;
    color: #FFF;
}