/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*global*************************************/
body{
    background-color:black;
    /**
    background-color: lightsalmon;
    background-image: url(https://2.bp.blogspot.com/-i-msrIHhadE/UDX37A0ZC0I/AAAAAAAAEOk/kwePOScNWpE/s1600/Smiley+Happy+Face+3D+Gif+Animation+clip+art+free+download+3d-animated-gifs.net+websites+blogs+facebook+email+gmail+yahoo+msn+decoration+graphics+art+powerpoind+sign+color+yelow+red+black.gif);
    background-size: 100px;
    background-blend-mode: darken;*/
    font-family: Arial,cursive;
    font-size: 14px;
}
/*content*************************************/
.content h1{
    padding: 1%;
    margin: 2% 0;
    line-height: 30px;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
}
.content{
    margin: 0 8%;
    padding: 2%;
    background-color: #ffeccf;
}

.proyects{
    padding: 2%;
    line-height: 30px;
    background-color: #ecaf9f;
    border-radius: 8px;
    text-align: justify;
}
.proyects h2{
    font-size: 1.1em;
}
.proyects a{
    color: rgb(142, 108, 58);
}
.proyects ul li span{
    font-size: 0.8em;
    display: inline-block;
}
.header{
    display: flex;
    padding: 30px;
    text-align: center;
}
.header_info{
    width: 80%;
    padding: 10px;
}
.header_info p span{
    color: #866d48;
}
.profile{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border:3px solid black;
}
@media (max-width: 576px) {  
    .header{
        display: block;
        padding: 10px;
    }
    .header_info{
        width: 100%;

    }
}