.main-layout {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}
.content {
  padding: 20px;
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}

