/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**/



body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 80px;
    display: inline-block;
}
.ing{
	text-align: right;
}
.btningreso{
	width: 200px;
	top: 0;
	margin-top: -40px;
}
nav {
	display: flex;
	margin-top: -70px;
	margin-left: 85px;
}
nav a {
    padding: 15px;
    color: white;
	font-weight: bold;
    text-decoration: none;
	margin: 2px;
}
.a1{
	background-color: #F08200;
}
.a2{
	background-color: #57A519;
}
.a3{
	background-color: #AD25A8;
}
.a4{
	background-color: #0072CE;
}
.inicio{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.pantera{
	padding: 20px;
	width: 70%;
	height: fit-content;
}

@media(min-width: 768px){
	.pantera{
		width: 30%;
		height: max-content;
		
	}
	.inicio{
		flex-wrap: nowrap;
		
	}
}
.introduccion{
	padding: 60px;
	text-align: center;
}
.introduccion h1{
	font-size: 40px;
	padding: 20px;
	font-weight: bold;
}
.introduccion p{
	padding: 20px;
}
.final{
	text-align: center;
}
.pdfcont{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.pdfcont img{
	width: 40%;
}
.boton{
	background-color: #CD032E;
	padding: 20px;
	border-radius: 50px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.iconocorreo{
	width: 60px;
}

@media (max-width: 700px) {  
	.ing{
		display: none;
	}
	nav {
		flex-wrap: wrap;
	}
	.pantera{
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
	.introduccion{
		padding: 0;
	}
	.final{
		margin-top: 20px;
	}

}